html{
	scroll-behavior: smooth;
}

#hamburger
{
    position: fixed;
    top:0;
    right:0;
    text-align: center;
    background:none;
    border:none;
    font-size:30px;
    margin:15px;
    outline: none;
    cursor:pointer;
    z-index: 100;
}

.navbar
{
    width:300px;
    min-height:500px;
    height:100%;
    padding-top: 100px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #efefef;
    border-left:1px solid #eee;
    transition: all 0.5s;
}

.navbar.active
{
    right: 0;
}

.navbar h1
{
    font-size: 30px;
    font-weight: 700;
}

.navbar .navlist li
{
    margin:25px 0;
    font-size: 20px;
}

.navbar .navlist li a
{
    color:#333;
    font-weight:600;
    text-decoration: none;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    height: 2000px;
}

#introduce
{
    background-color: #c0d1ff;
}